/*orange #BF5700*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: white;
}

.navbar-darken {
  background-color: black;
}

.navbar-no-color {
  background-color: none;
}

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}

.navbar .navbar-nav > li > a:hover {
  color: #BF5700;
}

.banner-image {
  background-image: url(../images/milkyway.jpg);
  background-color: #333F48;
  height: 1000px;
  background-size: cover;
  position: relative;
}

.nameplate {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2.2px;
  word-spacing: -10px;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000000;
}

.subplate-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2.2px;
  word-spacing: 0px;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000000;
}

.profile-photo {
  border-radius: 50%;
  border: 2px solid #000000;
  width: 25%;
  height: auto;
  position: absolute;
  top: 85%;
  left: 37.5%;
  filter: grayscale(100%);
}

.logo {
  width: 35%;
  height: auto;
}

.section-header {
  padding-top: 100px;
  text-align: left;
}

.section-description {
  padding-top: 50px;
  line-height: 38px;
  text-align: left;
}

.grey-container {
  height: 2150px;
  width: 100%;
  padding-top: 300px;
  background-color: #f0eff0; /* whitesmoke */
}

.white-container {
  height: 1200px;
  width: 100%;
  padding-top: 400px;
  background-color: white; /* whitesmoke */
}
