.box {
  flex:1;
  position: relative;
  background-color: black;
}

.white-box {
  background-color: #f0eff0;
}

.box:nth-of-type(1) {
  margin: 40px 0px 0px 0px;
}

.box:nth-of-type(2) {
  margin: 40px 40px 0px 40px;
}

.box:nth-of-type(3) {
  margin: 40px 0px 0px 0px;
}

.row {
  display:flex;
  width:100%;
}

/* all images should be 400px by 400px */
/* https://resizeimage.net/ */
.portfolio-icon {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
/*  filter: grayscale(100%);*/
}

.portfolio-title {
  background-color: #f0eff0; /* whitesmoke */
  margin-bottom: 0px;
}

.project-details {
  background-color: #f0eff0; /* whitesmoke */
  text-align: left;
}

.project-details p:last-child {
  margin-bottom: 0px;
}

.middle1 {
  color: white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover .portfolio-icon {
  opacity: 0.1;
}

.box:hover .middle1 {
  opacity: 1;
}

.box:hover .middle2 {
  opacity: 1;
}

.text {
  background-color: none;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  padding: 7px 21px;
  letter-spacing: 2px;
}

.text:hover {
  background-color: white;
  color: black;
}

a.text {
  text-decoration: none;
}

.soon-text {
  background-color: none;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  padding: 7px 21px;
  letter-spacing: 2px;
  cursor: default;
}

.spacer {
  height: 300px;
}
