.resume-container {
  height: 3650px; /* add additional length to container to cover entire resume */
}

.resume-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid black;
}

.resume-contact {
  margin-bottom: 5px;
}

.resume-contact-text {
  margin-top: 10px;
}

.black-bar {
  border-top: 1px solid black;
  width: 90%;
  margin: auto;
}

.bold-bar {
  border-bottom: 3px solid black;
  width: 90%;
  margin: auto;
}

.resume-padding {
  padding: 0px 60px 0px 60px;
}

.job-list {
  list-style-type: none;
}

.school {
  margin-left: 15px;
}